tittle{
    visibility: hidden;
    position:absolute;
}

body{
    margin:0;
    font-family: cursive;
    color:whitesmoke;
    background-image: url("https://detfom.files.wordpress.com/2014/08/fondo-negro-189535.jpg");
    text-align: center;
}

canvas{
    float:left;
    background:black;
    margin-left: 3%;
    margin-top: 3%;
    border-style: solid;
    border-color: whitesmoke;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 40px;
    background-color: black;
}

hr{
    background: whitesmoke;
    width:80%;
}

/*Personalizacion de las convenciones*/
#Informacion{
    background-color: darkgray;
    margin-right: 3%;
    margin-top:3%;
    text-align:left;
    float: right;
    width: 47%;
    height: 63%;
}

#puntos{
    width:2%;
}

h2,h3{
    text-align:center;
}

p{
    margin: 3%;
}

#infoUtil{
    background-color: black;
}

#tituloJuego{
    background-color: black;
    height: 10%;
}