* { padding: 0; margin: 0; }
		canvas {
			background: whitesmoke;
	    }

h1{
	text-align: center;
	font-family: cursive;
	color: whitesmoke;
}

body{
	background-color: #262626;
	text-align: center;
}

.boton{
	
	position: relative;
    padding: 10px;
    font-weight: 600;
    font-size: 16px;
    font-family: cursive;
    color: white;
    background-color: #48C107;
    border-radius: 50px;
    display:block;
    margin-left: auto;
    margin-right: auto;
    
}

.boton:hover{
   	color: white;
	background-color: lightgreen;
}