body{
    background-color: #262626;
    align-content: center;
    font-family: cursive;
    width: 90%;
    margin: 0;
    padding: 0%;
}

div{
    background-color: white;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 5%;
    padding-right: 5%;
    width: 100%;
    position absolute;
    display: inline-block;
}

.imagen{
    width: 20%;
    height: 20%;
    border-radius: 100%;
    border-color:whitesmoke;
    border-style: solid;
    border-width: large;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.icono{
    width: 2.5%;
    height: 2.5%;
}

p{
    font-size: 20px;
    color: black;
    text-align: center;

}

footer{
    font-size: 16;
    position: absolute;
    color: whitesmoke;
    margin-left: auto;
    margin-right: auto;
    bottom:1px; 
    width:100%;  
    text-align:right;
}

.Titulo{
    color:whitesmoke;
    font-size: 35px;
    text-align: center;
    margin-left: 8%;
    
}

.boton{
	
	position: relative;
    padding: 10px;
    font-weight: 600;
    font-size: 16px;
    font-family: cursive;
    color: white;
    background-color: #48C107;
    border-radius: 50px;
    display:block;
    margin-left: auto;
    margin-right: auto;
    
}

.boton:hover{
   	color: white;
	background-color: lightgreen;
}